@font-face {
    font-family: montserrat-thin;
    src: url(../_fonts/Montserrat-Thin.ttf)
}

@font-face {
    font-family: montserrat-reg;
    src: url(../_fonts/Montserrat-Regular.ttf)
}


.container{
    position: absolute; 
    width: 100%;
    padding-top: 10px;
}

.logo{
    width: 25%;   
}

@keyframes mudanca{
    0%   {background:url("../_imagens/banner-principal-1.jpg")}  
    50%  {background:url("../_imagens/banner-principal-2.jpg")}
    100% {background:url("../_imagens/banner-principal-1.jpg")}
}

 

.principal{
    background:url("../_imagens/banner-principal-4.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;  
    min-height: 550px;  
    font-family:montserrat-thin, sans-serif;
    animation-name: mudanca;   
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

.principal-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bolder;   
    color:white;
}

.principal-text p{
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px 4px black;
}

.principal-text a{
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px;
    background: #8C2E2E;
    color: #fff;
    border-radius: 40px;
    transition: 1s transform;
    margin-top:20px;
    cursor: pointer;
}

.principal-text a:hover{
    transform: scale(1.2);
}            

.informativo{
    height: auto;
    background-color:rgb(26, 26, 23);
    padding: 10px 0;
    padding-bottom: 20px;
    width: 100%;         
}
.row{
  background-color: black;  
  margin-top: 10px;
  width: 100%;
  height: 31.4vh;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}
.coluna-telefones{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.coluna-telas{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.coluna-telas img{
    width: 60%;
}
.coluna-video{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.coluna-video video{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.coluna-texto{
    width: 40%;
    height: 100%;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.coluna-texto h2{
    font-family:montserrat-reg, sans-serif;
    font-size: 2.2em;
    font-weight: 900;
}
.coluna-texto p{
    font-family:montserrat-reg, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.coluna-telefones img{
    position: absolute;
    left: 5px;
    width: 200px;
    height: 350px;
    filter: saturate(1.2);
    transition: 1s transform;
}
#telefone2{
    left: 7%;
}
#telefone3{
    
    left: 14%;
}

.coluna-telefones:hover #telefone3{
    transform: translate(107%, 0px);
}

.coluna-telefones:hover #telefone2{
    transform: translate(55%, 0px);
}
footer { 
    text-align: center;
    padding: 10px 0;
    background-color:rgb(0, 0, 0);
}

#logo-footer{
    width: 15%;
}

.copyright {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:montserrat-reg, sans-serif;
}

.agradecimento {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:montserrat-reg, sans-serif;
}
